ansible==9.6.0  # latest version requires python3.7 or higher,  python pacakages for python3.6 or higher are not available on CentOS7/RHEL7
molecule
molecule-plugins[docker]
docker
pytest-testinfra>=1.7.0