---
name: Ansible role testing
'on':
  pull_request:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  schedule:
    - cron: "0 7 1 * *"

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Run ansible-lint
        uses: ansible/ansible-lint@main

  molecule-source:
    name: molecule(source)
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        distro:
          - ubuntu2204
          - ubuntu2404
          - rockylinux8
          - rockylinux9
          - rhel8
          - rhel9
        version:
          - '6.0.20'
          - '6.2.14'
          - '7.0.15'
          - '7.2.4'
          - '8.0.4'
          - '8.2.2'
    steps:
      - name: Check out the Repository
        uses: actions/checkout@v4

      - name: Set up Python3
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install test dependencies
        run: pip3 install -r molecule/default/test-requirements.txt

      - name: Install Ansible dependencies.
        run: ansible-galaxy collection install community.docker ansible.posix --force

      - name: Run molecule tests
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
          MOLECULE_REDIS_VERSION: ${{ matrix.version }}

  molecule-package:
    name: molecule(package)
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        distro:
          - ubuntu2204
          - ubuntu2404
          - rockylinux8
          - rockylinux9
          - rhel8
          - rhel9

    steps:
      - name: Check out the Repository
        uses: actions/checkout@v4

      - name: Set up Python3
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install test dependencies
        run: pip3 install -r molecule/default/test-requirements.txt

      - name: Install Ansible dependencies.
        run: ansible-galaxy collection install community.docker ansible.posix --force

      - name: Run molecule tests
        run: molecule test -s install-package
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
